.post {
  width: 30%;
  padding: 2rem;
  margin: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: #000;
}

.post__title {
  font-size: 1.8rem;
  text-align: center;
}

.post__thumbnail {
  width: 60%;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid #000;
  margin: 1rem auto;
}

.post__excerpt {
  font-family: sans-serif;
  font-family: var(--secondary-font);
}
