/* Basic CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS variables used in project */
:root {
  --primary-color: #674172;
  --main-white: #efefef;
  --main-grey: #bfbfbf;
  --secondary-font: "Amaranth";
}

/* Make 1rem be equal to 10px for easier sizing */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  min-height: 100vh;
  margin: 8rem auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
